<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="fd1ConnectionString" connectionString="Data Source=U8001065-TPL-B\SQL50160_2;Initial Catalog=fddb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=61a6afb2-9dc8-4f45-97e3-a2b500ebed20.sqlserver.sequelizer.com;Persist Security Info=True;User ID=zpwsjtycbbjskoza;Password=CCwXsEg6TYDbM5xDauDEWB6CcfAUzTvAuJWyCAMxD66Fq7AhN2SccykbF2UnduDa"
      providerName="System.Data.SqlClient" />
    <add name="db61a6afb29dc84f4597e3a2b500ebed20ConnectionString"
      connectionString="Data Source=61a6afb2-9dc8-4f45-97e3-a2b500ebed20.sqlserver.sequelizer.com;Initial Catalog=db61a6afb29dc84f4597e3a2b500ebed20;Persist Security Info=True;User ID=zpwsjtycbbjskoza;Password=CCwXsEg6TYDbM5xDauDEWB6CcfAUzTvAuJWyCAMxD66Fq7AhN2SccykbF2UnduDa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://dev.twitter.com/apps -->
    <add key="twitterConsumerKey" value="nVNbrg52DbCyv0V5XxWC9Ipcd" />
    <add key="twitterConsumerSecret" value="bBrRmMFj9fHpL2rKzQw4oC8Qsky3rXRoJtGMlveivSrkWYgZaa" />
    <add key="twitterOAuthToken" value="1317302059-AFfWFKd9Pr3CP8Sav2gpqeLUhcIf9eSiXNZSgDp" />
    <add key="twitterAccessToken" value="sc32uTDl2O27BPKwp3g4EQeFYNoiBo6D8vx6SVOigfwCT" />
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />

    <!-- GoogleAPI credentials -->
    <add key="ClientId" value="651937086252-na99drkmmna0k5purb5h27mnfifvc2tr.apps.googleusercontent.com" />
    <add key="ClientSecret" value="l16kKa9wSc6E0oJzeyzRS5Ne" />

    <!-- Update the port of the Redirect URI (don't forget to set this value also in the Google API Console) -->
    <add key="RedirectUri" value="http://localhost:5010/Home/GoogleAuthorization" />



  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.textise.net/textise/textiseService/Service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="ServiceReferenceText.Service1Soap" name="Service1Soap" />
      <endpoint address="http://www.textise.net/textise/textiseService/Service1.asmx"
        binding="customBinding" bindingConfiguration="Service1Soap12"
        contract="ServiceReferenceText.Service1Soap" name="Service1Soap12" />
    </client>
  </system.serviceModel>
</configuration>

