USE [fddb]
GO
/****** Object:  Table [dbo].[tblTempForEditor]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTempForEditor](
	[tblUserIdParam] [nvarchar](50) NOT NULL,
	[Expression] [nvarchar](20) NOT NULL,
	[Conjunction] [varchar](20) NOT NULL,
	[UniqueID] [uniqueidentifier] NOT NULL,
	[RowIdHidden] [int] NOT NULL,
	[SearchTerm] [nchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[weather]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[weather](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[userid] [int] NOT NULL,
	[day] [int] NOT NULL,
	[icon] [varchar](50) NOT NULL,
	[hi] [int] NULL,
	[lo] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
	[lastlogin] [datetime] NOT NULL,
	[lat] [varchar](50) NULL,
	[lng] [varchar](50) NULL,
	[location] [varchar](50) NULL,
	[selection] [varchar](max) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [guid], [lastlogin], [lat], [lng], [location], [selection]) VALUES (1, N'e8cfd8f9-aa51-47df-b80e-2715cfd89b01', CAST(0x0000A2DC00FA7AAD AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[user] ([id], [guid], [lastlogin], [lat], [lng], [location], [selection]) VALUES (2, N'16756dcd-c139-4668-be0b-08e8c8a84cf4', CAST(0x0000A2DC0172F306 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[user] ([id], [guid], [lastlogin], [lat], [lng], [location], [selection]) VALUES (3, N'6ec9c6d5-1eff-4777-8c90-a98e092e3607', CAST(0x0000A2DD00A37312 AS DateTime), N'56.05825', N'-2.7229', N'North Berwick', NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[twt]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[twt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[twtid] [varchar](max) NULL,
	[accesstoken] [varchar](max) NULL,
	[oauthtoken] [varchar](max) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_twt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[twt] ON
INSERT [dbo].[twt] ([id], [userid], [twtid], [accesstoken], [oauthtoken], [status]) VALUES (1, 1, N'FletcherFridge', N'v3g3lcENHnDPNNYTpSLLZZtZmCJ43bnvohLlDnNg7w', N'1317302059-F57J7rhJw18BYymjoZ5nJGqwhKd0nqax3jaItN5', 1)
INSERT [dbo].[twt] ([id], [userid], [twtid], [accesstoken], [oauthtoken], [status]) VALUES (2, 2, N'FletcherFridge', N'v3g3lcENHnDPNNYTpSLLZZtZmCJ43bnvohLlDnNg7w', N'1317302059-F57J7rhJw18BYymjoZ5nJGqwhKd0nqax3jaItN5', 1)
INSERT [dbo].[twt] ([id], [userid], [twtid], [accesstoken], [oauthtoken], [status]) VALUES (3, 3, N'FletcherFridge', N'v3g3lcENHnDPNNYTpSLLZZtZmCJ43bnvohLlDnNg7w', N'1317302059-F57J7rhJw18BYymjoZ5nJGqwhKd0nqax3jaItN5', 0)
SET IDENTITY_INSERT [dbo].[twt] OFF
/****** Object:  Table [dbo].[banners]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[bannerid] [varchar](50) NOT NULL,
	[datetime] [datetime] NOT NULL,
	[type] [varchar](50) NULL,
 CONSTRAINT [PK_banners] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[banners] ON
INSERT [dbo].[banners] ([id], [userid], [bannerid], [datetime], [type]) VALUES (53, 260, N'471301402141421568', CAST(0x0000A34700312BBC AS DateTime), N'all your base')
INSERT [dbo].[banners] ([id], [userid], [bannerid], [datetime], [type]) VALUES (54, 39, N'471301402141421568', CAST(0x0000A34F016E27CE AS DateTime), N'all your base')
INSERT [dbo].[banners] ([id], [userid], [bannerid], [datetime], [type]) VALUES (55, 39, N'450934395424473088', CAST(0x0000A34F016E3110 AS DateTime), N'new banner test')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[banners] OFF
/****** Object:  Table [dbo].[articles]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[articles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[heading] [varchar](50) NULL,
	[datetime] [datetime] NOT NULL,
	[image] [varchar](50) NULL,
	[article] [varchar](max) NULL,
 CONSTRAINT [PK_articles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[articles] ON
INSERT [dbo].[articles] ([id], [userid], [heading], [datetime], [image], [article]) VALUES (1, 1, N'Now in Beta', CAST(0x0000A31C00000000 AS DateTime), NULL, N'Welcome to the beta testing phase')
INSERT [dbo].[articles] ([id], [userid], [heading], [datetime], [image], [article]) VALUES (2, 1, N'Ideas go here', CAST(0x0000A31A00000000 AS DateTime), NULL, N'Put your ideas for a name here')
SET IDENTITY_INSERT [dbo].[articles] OFF
/****** Object:  Table [dbo].[ggl]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ggl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[refreshtoken] [varchar](max) NULL,
	[idlist] [varchar](max) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_ggl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ggl] ON
INSERT [dbo].[ggl] ([id], [userid], [refreshtoken], [idlist], [status]) VALUES (1, 1, N'1/2U4UkG6aDsrlP3VA7MPp3jZ63Ue_1FK1EuAjWKFI94M', N'{"Id":["miriam.orchid@googlemail.com","nick.fletcher@gmail.com"],"Count":"2","Fullname":["Miriam Fletcher","nick fletcher"]}', 1)
INSERT [dbo].[ggl] ([id], [userid], [refreshtoken], [idlist], [status]) VALUES (2, 2, N'1/C3O7AEcEIta21dm7mX8ewODW_4WVHDqj75qcE83cwkg', N'{"Id":["miriam.orchid@googlemail.com","nick.fletcher@gmail.com"],"Count":"2","Fullname":["Miriam Fletcher","nick fletcher"]}', 1)
INSERT [dbo].[ggl] ([id], [userid], [refreshtoken], [idlist], [status]) VALUES (3, 3, N'1/ZAyCqO-0kb1MpgSbKpNlJeg-_BywFxn8KIJd21Bgcno', N'{"Id":["miriam.orchid@googlemail.com","nick.fletcher@gmail.com"],"Count":"2","Fullname":["Miriam Fletcher","nick fletcher"]}', 0)
SET IDENTITY_INSERT [dbo].[ggl] OFF
/****** Object:  Table [dbo].[devices]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[devices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[useragent] [varchar](max) NULL,
	[lastlogin] [datetime] NULL,
	[UAmax] [nvarchar](max) NULL,
 CONSTRAINT [PK_devices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[devices] ON
INSERT [dbo].[devices] ([id], [userid], [useragent], [lastlogin], [UAmax]) VALUES (1, 10, N'WinNT Chrome', CAST(0x0000A2EB00A0ABEC AS DateTime), NULL)
INSERT [dbo].[devices] ([id], [userid], [useragent], [lastlogin], [UAmax]) VALUES (2, 3, N'Unknown Safari', CAST(0x0000A2EB00A61B91 AS DateTime), NULL)
INSERT [dbo].[devices] ([id], [userid], [useragent], [lastlogin], [UAmax]) VALUES (3, 3, N'Unknown Safari', CAST(0x0000A2EB00A6488E AS DateTime), NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
SET IDENTITY_INSERT [dbo].[devices] OFF
/****** Object:  Table [dbo].[days2go]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[days2go](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[eventid] [int] NULL,
	[eventdatetime] [datetime] NULL,
	[eventname] [varchar](max) NULL,
 CONSTRAINT [PK_days2go] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[days2go] ON
INSERT [dbo].[days2go] ([id], [userid], [eventid], [eventdatetime], [eventname]) VALUES (1, 260, NULL, CAST(0x0000A444009C8E20 AS DateTime), N'Jacob optician')
INSERT [dbo].[days2go] ([id], [userid], [eventid], [eventdatetime], [eventname]) VALUES (7, 260, NULL, CAST(0x0000A44B00000000 AS DateTime), N'Nick Boarding weekend')
SET IDENTITY_INSERT [dbo].[days2go] OFF
/****** Object:  Table [dbo].[comments]    Script Date: 02/18/2015 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[comment] [varchar](max) NULL,
	[datetime] [datetime] NOT NULL,
	[articleid] [int] NULL,
	[name] [varchar](max) NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON
INSERT [dbo].[comments] ([id], [userid], [comment], [datetime], [articleid], [name]) VALUES (1, 19, N'first comment', CAST(0x0000A31D00000000 AS DateTime), 1, NULL)
INSERT [dbo].[comments] ([id], [userid], [comment], [datetime], [articleid], [name]) VALUES (2, 19, N'second comment', CAST(0x0000A31D016A8C80 AS DateTime), 1, NULL)
INSERT [dbo].[comments] ([id], [userid], [comment], [datetime], [articleid], [name]) VALUES (3, 19, N'this is awesome', CAST(0x0000A31D0142D8C6 AS DateTime), 1, N'nick')
SET IDENTITY_INSERT [dbo].[comments] OFF
/****** Object:  Default [DF_ggl_status]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[ggl] ADD  CONSTRAINT [DF_ggl_status]  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF_twt_status]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[twt] ADD  CONSTRAINT [DF_twt_status]  DEFAULT ((1)) FOR [status]
GO
/****** Object:  ForeignKey [FK_articles_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[articles]  WITH CHECK ADD  CONSTRAINT [FK_articles_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[articles] CHECK CONSTRAINT [FK_articles_user]
GO
/****** Object:  ForeignKey [FK_banners_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[banners]  WITH CHECK ADD  CONSTRAINT [FK_banners_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[banners] CHECK CONSTRAINT [FK_banners_user]
GO
/****** Object:  ForeignKey [FK_comments_articles]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_articles] FOREIGN KEY([articleid])
REFERENCES [dbo].[articles] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_articles]
GO
/****** Object:  ForeignKey [FK_comments_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_user]
GO
/****** Object:  ForeignKey [FK_days2go_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[days2go]  WITH CHECK ADD  CONSTRAINT [FK_days2go_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[days2go] CHECK CONSTRAINT [FK_days2go_user]
GO
/****** Object:  ForeignKey [FK_devices_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[devices]  WITH CHECK ADD  CONSTRAINT [FK_devices_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[devices] CHECK CONSTRAINT [FK_devices_user]
GO
/****** Object:  ForeignKey [FK_ggl_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[ggl]  WITH CHECK ADD  CONSTRAINT [FK_ggl_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ggl] CHECK CONSTRAINT [FK_ggl_user]
GO
/****** Object:  ForeignKey [FK_twt_user]    Script Date: 02/18/2015 22:11:02 ******/
ALTER TABLE [dbo].[twt]  WITH CHECK ADD  CONSTRAINT [FK_twt_user] FOREIGN KEY([userid])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[twt] CHECK CONSTRAINT [FK_twt_user]
GO
