<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     
     <link rel="stylesheet" href="../../Content/jquery.mobile-1.4.0a.css" />
  <link rel="stylesheet" href="../../Content/jquery.mobile.structure-1.4.0.css" />
<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/jquery.mobile-1.4.0.min.js"></script>

   <script type="text/javascript">

       $(document).bind("pageinit", function () {
           $(function () {
               // alert("innit");
               $('#tweets_home').trigger('expand');
               if ($('#tweets_home').hasClass('ui-collapsible-collapsed')) {
                   //alert("collapsed");
               }
               saveLogin();
               drawCal();
               drawNext5(0);
               //renderTweets(5, "mytweets");
               twt_check();
               ggl_check();
               users_check();
               var lat = get_cookie("lat");
               var lng = get_cookie("long");

               if (lat == null) {
                   //  $('#towns').show();
                   //getTowns();
                   //alert("towns");
               } else {
                   GetWeather(lat, lng, 0, 1);
               }

           });

       });

       function init() {
           //testa(1, 0);
           //calcDays();

           twt_check();
          

           var lat = get_cookie("lat");
           var lng = get_cookie("long");

           if (lat == null) {
               //  $('#towns').show();
               //getTowns();
               //alert("towns");
           } else {
             //  GetWeather(lat, lng, 0, 1);
           }

           // alert(tw_ck + go_ck);
       }

       function testa(max, min) {
           $('#chosenDay').html("<strong>" + formatDateFull(min) + "</strong>");
           var idlistj = get_cookie("IDList");
           var browser_w = parseInt($(document).width()) - 60;
           var browser_h = parseInt($(document).height()) - 80;
           $('#iframe1').css('width', browser_w.toString() + 'px');
           $('#iframe1').css('height', browser_h.toString() + 'px');
           $('#eventsDay').html("");
           var jsonc = idlistj;
           var jsone = eval('(' + jsonc + ')');
           var jsone2 = eval('(' + jsonc + ')');
           var count = jsone['Count'];
           //alert(idlist + count);
           var min_bk = parseInt(min) - 1;
           var min_fw = parseInt(min) + 1;
           var max_fw = parseInt(max) + 1;
           var max_bk = parseInt(max) - 1;
           var btn_txt_bk;
           var btn_txt_fw;
           if (parseInt(min) == 0) {
               $('#datebanner').html(formatDate(0));
               btn_txt_bk = "Yesterday";
               btn_txt_fw = "Tomorrow";
           } else {
               $('#datebanner').html(formatDate(min_bk + 1))
               btn_txt_bk = formatDate(min_bk);
               btn_txt_fw = formatDate(max);

           }

           //var bk_btn_html = "<div class=\"term3btn\" style=\"cursor:pointer\" onclick=\"testa(" + max_bk + "," + min_bk + ")\">" + btn_txt_bk + "</div>";
           //var fw_btn_html = "<div class=\"term3btn\" style=\"cursor:pointer\" onclick=\"testa(" + max_fw + "," + min_fw + ")\">" + btn_txt_fw + "</div>";
           // $('#btns').html("<table><tr><td class=\"tdleft\">" + bk_btn_html + "</td><td class=\"tdright\">" + fw_btn_html + "</td><tr><table>");

           $.each(jsone.Id, function (i, idlist) {

               var sumhtml = "<div id=\"sum" + i + "\"></div>";
               $('#eventsDay').append(sumhtml);
               // var summinihtml = "<div id=\"summini" + i + "\"><table><tr><td><div style=\"cursor:pointer\" onclick=\"testa(2,1)\" id=\"day0" + i + "\"></div><div id=\"day_w_0" + i + "\" ></div></td><td><div style=\"cursor:pointer\" onclick=\"testa(3,2)\" id=\"day1" + i + "\"></div><div id=\"day_w_1" + i + "\" ></div></td><td><div style=\"cursor:pointer\" onclick=\"testa(4,3)\" id=\"day2" + i + "\"></div><div id=\"day_w_2" + i + "\" ></div></td><td><div style=\"cursor:pointer\" onclick=\"testa(5,4)\" id=\"day3" + i + "\"></div><div id=\"day_w_3" + i + "\" ></div></td><td><div style=\"cursor:pointer\" onclick=\"testa(6,5)\" id=\"day4" + i + "\"></div><div id=\"day_w_4" + i + "\" ></div></td></tr></table></div>";
               //$('#suminjmini').append(summinihtml);

               var email = getID(i, idlistj);
               var name = getFn(i, idlistj);

               getevents(email, name, i, max, min);
               getfutureevents(email, name, i, max, min);
               // alert(idlist[0]);
           });


          drawDays(min,idlistj);

      }


      function drawDays(min, idlistj) {
         
           var n = parseInt(min);
           var end = 0;
           var calnext5 = "<div class=\"ui-grid-d\">";
           var weathernext5 = "<div class=\"ui-grid-d\">";
           var aplhastr = "abcde";
           for (var i = 0; i < aplhastr.length; i++) {
               var nextChar = aplhastr.charAt(i);
           //}
           //while (end < 5) {
               end++;
               var n1 = parseInt(n + end);
               //alert(n1 + "..." + end);
               var n2 = parseInt(n1 + 1);
               var day = formatDateDay(n1);
               var dispday = formatDateNext(n1);
               dispday = dispday.substring(0, 3);
               var dayID = formatDateDayID(n1);
               calnext5 = calnext5 + "<div style=\"cursor:pointer\" class=\"ui-block-" + nextChar + "\"><div class=\"ui-bar ui-bar-c\" style=\"font-size:12px;text-align:left\" onclick=\"testa(" + n2 + "," + n1 + ")\" id=\"" + dayID + "\"><div class=\"term3\">" + dispday + "</div></div></div>";
               var img = get_cookie("icon" + n1);
               var hi = "";
               var lo = "";
               if (n1 < 4) {
                   hi = get_cookie("hi" + n1);
                   lo = get_cookie("lo" + n1);
               }
               var icon = "<img src=\"http://icons.wxug.com/i/c/i/" + img + ".gif\">";
               weathernext5 = weathernext5 + "<div class=\"ui-block-" + nextChar + "\"><div class=\"ui-bar ui-bar-c\">" + icon + "<br />" + hi + "<br />" + lo + "</div></div>";
           }

           $('#calendar_next5').html(calnext5 + "</div>").trigger('create');
           $('#weather_next5').html(weathernext5 + "</div>").trigger('create');

       }



       $(document).ready(function () {
         
           // if ($('#add_site').hasClass('ui-collapsible-collapsed')
           
           var timerB;

           document.getElementById('flip-weather').value = "no";

           $("#flip-twitter").keyup(function () {
               clearTimeout(timerA);
               timerA = setTimeout(changeTxtA, 3000);

           });

           var changeTxtA = function () {
               //Change label text here.
               //$("#user_2").html("saved").trigger("create");
               //$("input#user_3").focus();
               alert("slider changed");
           };

         

       });

       var timer1;

       var timer2;

       function timerStart1(ID) {
           //clearTimeout(timer1);
           //timer1 = setTimeout(closeBanner1, ti);
           alert("banner for " + ID);
       }

       var timerA;



       function closeBanner() {
           $("#banner_area").html("");
           $("#banner_header").html("")
           $("#banner_header").hide();
           $("#banner_area").hide();
       }

       function goSetup() {
           window.location.href = '/Home/Choose';
       }

       function GetWeather(lat, lng, min, max) {
           $('#weather').html("");
           //set_cookie("teststore", "val", 1);
           var NewDate = new Date();
           var loc = lat + "," + lng;
           min = min * 2;
           max = min + 1;
           var ck = get_cookie("day0");
           //alert("ck=" + ck);
           if (ck == null) {
               //alert("ck is null");
               //$('#weather').html(loc);
               $.ajax({
                   type: "GET",
                   url: "http://api.wunderground.com/api/bf45926a1b878028/forecast/geolookup/q/" + loc + ".json",
                   dataType: "jsonp",
                   success: function (json) {
                       //var json = eval('(' + jsontxt + ')');
                       //var jsontext = JSON.stringify(json);
                       // $.each(json.Id, function (i, idlist) {
                       //alert(jsontext);
                       //});
                       var i = 0;
                       while (i < 8) {
                           var text = json['forecast']['txt_forecast']['forecastday'][i]['fcttext_metric'];
                           var icon = json['forecast']['txt_forecast']['forecastday'][i]['icon'];
                           if (i > 0 && i < 4) {
                               //  alert(i);
                               var high = "Hi: " + json['forecast']['simpleforecast']['forecastday'][i]['high']['celsius'] + "C";
                               var low = "Lo: " + json['forecast']['simpleforecast']['forecastday'][i]['low']['celsius'] + "C";
                               set_cookie("hi" + i, high, 1);
                               set_cookie("lo" + i, low, 1);
                               //alert(high + " " + low);
                           }
                           set_cookie("day" + i, text, 1);
                           set_cookie("icon" + i, icon, 1);

                           i++;
                       }
                       var location = json['location']['city'];

                       //   $('#footer').html("Location: " + location + "(" + lat + ", " + lng + ")</br>" + "Updated: " + NewDate);
                       //$('#weather').append("Weather for " + location);
                       var day = json['forecast']['txt_forecast']['forecastday'][min]['title'];
                       //alert("day=" + day);
                       var day2 = json['forecast']['txt_forecast']['forecastday'][max]['title'];
                       var forecast = json['forecast']['txt_forecast']['forecastday'][min]['fcttext_metric'];
                       var forecast2 = json['forecast']['txt_forecast']['forecastday'][max]['fcttext_metric'];
                       var icon = json['forecast']['txt_forecast']['forecastday'][min]['icon'];
                       var icon2 = json['forecast']['txt_forecast']['forecastday'][max]['icon'];
                       var img1 = "<img src=\"http://icons.wxug.com/i/c/i/" + icon + ".gif\">";
                       var img2 = "<img src=\"http://icons.wxug.com/i/c/i/" + icon2 + ".gif\">";
                       //set_cookie("0text", forecast, 1);
                       //set_cookie("0icon", forecast, 1);
                       //var htmltable = "<table><tr><td>" + day + ":  </td><td>" + forecast + "</td></tr><tr><td>" + day2 + ":  </td><td>" + forecast2 + "</td></tr></table>";
                       //$('#weather').append(day + "</br>" + forecast + "</br>" + day2 + "</br>" + forecast2 + "<img src=\"http://icons.wxug.com/i/c/i/" + icon2 + ".gif\" />");
                       var htmltable = "<table><tr><td>Day <br />" + img1 + "</td><td>" + forecast + "</td></tr></table></br>" +
            "<table><tr><td>Night <br />" + img2 + "</td><td>" + forecast2 + "</td></tr></table>";
                       //alert(htmltable);
                       $('#weather').append(htmltable);

                       var epoch = Math.round(new Date().getTime() / 1000)

                   },
                   error: function (xhr, error) {
                       console.debug(xhr); console.debug(error);
                       $('#footer').appnd(xhr + "  " + error);
                   },
                   complete: function () {

                   }

               });

           } else {
               var forecast = get_cookie("day" + min);
               var forecast2 = get_cookie("day" + max);
               var img = get_cookie("icon" + min);
               var img2 = get_cookie("icon" + max);
               var icon = "<img src=\"http://icons.wxug.com/i/c/i/" + img + ".gif\">";
               var icon2 = "<img src=\"http://icons.wxug.com/i/c/i/" + img2 + ".gif\">";
               var htmltable = "<table><tr><td>Day <br />" + icon + "</td><td>" + forecast + "</td></tr></table></br>" +
            "<table><tr><td>Night <br />" + icon2 + "</td><td>" + forecast2 + "</td></tr></table>";
               //$('#weather').append(day + "</br>" + forecast + "</br>" + day2 + "</br>" + forecast2 + "<img src=\"http://icons.wxug.com/i/c/i/" + icon2 + ".gif\" />");
               $('#weather').append(htmltable);


           }

       }

       function getevents(email, name, i, max, min) {
           $.ajax({
               type: "POST",
               url: "/Mobile/DoneTest",
               data: "email=" + email + "&max=" + max + "&min=" + min,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //type = refresh
                   var typej = jsonresp['type'];
                   if (typej == "refresh") {
                       //alert("refreshing");
                       window.location.href = '/Mobile/GoogleRefresh';
                   } else {
                       var summary = jsonresp['summary'];

                       // alert(jsonresp.items.count());
                       var item_ct = 0;
                       for (_obj in jsonresp.items) item_ct++;
                       //alert(item_ct);
                       if (item_ct != 0) {
                           var datestr = formatDate(min);
                           //$('#sum' + i).append("<br /><div class=\"term1\">" + name + "</div>");
                           $.each(jsonresp.items, function (n, item) {
                               if (item.status != "cancelled") {
                                   var datetest = item.start.dateTime;
                                   var datetest2 = item.start.date;
                                   var start_dt = new Date(item.start.dateTime);
                                   var end_dt = new Date(item.end.dateTime);
                                   var start_d = new Date(item.start.date);
                                   var end_d = new Date(item.end.date);
                                   var stf = parseISO8601Date(item.start.dateTime);
                                   var endf = parseISO8601Date(item.end.dateTime);
                                   //var dts = formatDT(itemstart,"start",itemend);
                                   var dte = "";
                                   if (start_dt != "Invalid Date") {
                                       // dte = start_dt.toString('H:mm tt') + " - " + end_dt;
                                   } else {
                                       // dte = "All day";
                                   }
                                   //formatDT(itemstart, itemend, min); write this back in
                                   var location = "";
                                   if (item.location != undefined) {
                                       location = ", " + item.location;
                                   }
                                   $('#sum' + i).append("<div class=\"term3\">" + stf + " - " + endf + "</div>    <div class=\"term1evt\">" + item.summary + location + "</div>");
                               }

                           });
                       } else {
                           //     $('#sum' + i).append("<br /><div class=\"term1\">No events for " + name + "</div>");
                       }
                   }
               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
               }

           });
       }

       function getfutureevents(email, name, i, max, min) {
           //inject html
           max = max + 5;
           min = max - 5;
           $.ajax({
               type: "POST",
               url: "/Mobile/DoneTest",
               data: "email=" + email + "&max=" + max + "&min=" + min,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //type = refresh
                   var typej = jsonresp['type'];
                   if (typej == "refresh") {
                       //alert("refreshing");
                       window.location.href = '/Mobile/GoogleRefresh';
                   } else {
                       var summary = jsonresp['summary'];

                       // alert(jsonresp.items.count());
                       var item_ct = 0;
                       for (_obj in jsonresp.items) item_ct++;
                       //alert(item_ct);
                       if (item_ct != 0) {
                           var datestr = formatDate(min);
                           var day = "";
                           var oldday = "new";
                           var head = "";
                           var dayct = parseInt(0);
                           $.each(jsonresp.items, function (n, item) {
                               if (item.status != "cancelled") {
                                   var datetest = item.start.dateTime;
                                   var datetest2 = item.start.date;
                                   var start_dt = new Date(item.start.dateTime);
                                   var end_dt = new Date(item.end.dateTime);
                                   var start_d = new Date(item.start.date);
                                   var end_d = new Date(item.end.date);
                                   var stf = parseISO8601Date(item.start.dateTime);
                                   var endf = parseISO8601Date(item.end.dateTime);
                                   if (endf == "All day") {
                                       endf = "";
                                   }
                                   var daytest = parseISO8601DateFull(item.start.dateTime);
                                   //alert("daytest=" + daytest);
                                   var res = daytest.toString().split(" ");
                                   // alert(res);
                                   var fullday = getProperDay(res[0]);
                                   var justdate = res[2];
                                   //$('#debug').append(fullday);

                                   day = fullday + justdate; //needs a day of week number
                                   //alert(day + item.summary);
                                   $('#' + day).append("<div class=\"term4\">" + stf + "</div><div class=\"term1evt\">" + item.summary + "</div>");

                               }


                           });


                       } else {

                       }
                   }
               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
               }

           });
       }



       function getID(num, idlist) {
           var jsone = eval('(' + idlist + ')');
           return jsone.Id[num];
       }

       function getFn(num, idlist) {
           var jsone = eval('(' + idlist + ')');
           return jsone.Fullname[num];
       }


       function ggl_check() {
           $.ajax({
               type: "GET",
               url: "/Mobile/checkGglIDlist",
               //data: "latestID=" + latestID,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //alert(jsonresp.IDlist);
                   idlist = jsonresp.IDlist;
                   if (idlist == "No GUID") {
                       //alert(idlist);
                       goSetup();
                   } else {
                       // alert(go_ck);
                       testa(1, 0);
                   }
               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
                   // return idlist;
               }

           });
       }

       function users_check() {
           var k_html = "";
           var ch_html = "";
           $.ajax({
               type: "GET",
               url: "/Mobile/getAgents",
               //data: "latestID=" + latestID,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   k_html = "Kindles:" + jsonresp.kindles;
                   ch_html = "Chromes:" + jsonresp.chromes;
                   $('#agentsStats').html(k_html + " " + ch_html);

               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
                   // return idlist;
               }

           });
       }

       function saveLogin() {
           $.ajax({
               type: "GET",
               url: "/Mobile/saveLogin",
               dataType: "json",
               success: function (json) {
               
               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
                   // return idlist;
               }

           });
       }



       function twt_check() {
           $.ajax({
               type: "GET",
               url: "/Mobile/checkTwtID",
               //data: "latestID=" + latestID,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //alert(jsonresp.IDlist);
                   idlist = jsonresp.ID;
                   //alert(idlist);
                   if (idlist == "No GUID") {

                       goSetup();
                   } else if (idlist == "No Twitter") {
                       //alert(idlist);

                   } else {
                       //alert(idlist);
                       getTweets();
                   }
               },
               error: function (xhr, error) {
                   console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
                   // return idlist;
               }

           });
       }

       function getBanner(type, ID, timeout, screenname) {
           // alert(ID);
           $('#banner_header').show();
           $("#banner_area").show();
           var browser_h = parseInt($(document).height())
           if (type == "banner") {
               $.ajax({
                   type: "GET",
                   url: "/Mobile/GetBanner",
                   data: "ID=" + ID,
                   dataType: "json",
                   success: function (json) {
                       var jsonresp = eval(json);
                       var bannertxt = jsonresp.BannerText;
                       $('#banner_header').html("<a href=\"#\" onclick=\"closeBanner()\" class=\"/ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-btn-b ui-icon-delete ui-btn-icon-top\">Banner from " + screenname + ":</a>").trigger('create');
                       $('#banner_area').html(bannertxt);
                       //clearTimeout(timer1);
                       //timer1 = setTimeout(timerStart1, timeout);
                   },
                   error: function (response) {
                       alert(response.responseText);
                       var r = jQuery.parseJSON(response.responseText);
                       alert("Message: " + r.Message);
                       alert("StackTrace: " + r.StackTrace);
                       alert("ExceptionType: " + r.ExceptionType);
                       // console.debug(xhr); console.debug(error);
                   },
                   complete: function (xhr, status) {
                   }

               });
           }

           if (type == 'media') {
               var imghtml = "<img src=" + ID + "/>";
               $('#banner_header').html("<a href=\"#\" onclick=\"closeBanner()\" class=\"ui-nodisc-icon ui-btn ui-shadow ui-corner-all ui-btn-b ui-icon-delete ui-btn-icon-top\">Image from " + screenname + ":</a>").trigger('create');
               //<div class="ui-icnput-btn ui-btn ui-btn-b">
        //Close
        //<input type="button" data-enhanced="true" value="Enhanced - Theme swatch B">
    //</div>
               $('#banner_area').html(imghtml);
               //clearTimeout(timer1);
               //timer1 = setTimeout(timerStart1, 10000);
           }

       }

       function getBannerC(ID, timeout) {
           //alert(ID);
           var bannertxt = get_cookie(ID);
           $('#banner_area').html(bannertxt);
           clearTimeout(timer1);
           timer1 = setTimeout(timerStart1, timeout);

       }


       function getTweets() {
           var NewDate = new Date();
           var hournow = NewDate.getUTCHours;
           var latestID = document.getElementById('toptweet').innerHTML;
           var bannerhtml = "";
           var tophtml = "<ul data-role=\"listview\">";
           var midhtml_mt = "";
           var midhtml_men = "";
           var midhtml_f = "";
           $.ajax({
               type: "GET",
               url: "/Mobile/JsonTweets",
               data: "timenow=" + hournow,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //type = refresh
                   var tweettype = "none";
                   var timeout = "";
                   var icon = "false";
                   $.each(jsonresp.mytweets, function (n, item) {
                       // alert(item.Tweet);
                       var tweetxtra = "";
                       if (item.BannerText.length > 1) {
                           tweettype = "banner";
                           tweetxtra = item.ID;
                           timeout = item.BannerTime;
                       }
                       if (item.MediaUrl.length > 1) {
                           tweettype = "media";
                           //  icon = "info";
                           tweetxtra = item.MediaUrl;
                       }
                       if (item.EntityUrl.length > 1) {
                       }
                       //tweetshtml = tweetshtml + "<tr><td class=\"td30\"><div class=\"tweet_ts\">" + item.TimeStamp + "</div></td><td><div style=\"cursor:pointer\" class=\"tweet\" onclick=\"getBanner('" + tweettype + "','" + tweetxtra + "','" + timeout + "')\">" + item.Tweet + "</div></td></tr>";
                       midhtml_mt = midhtml_mt + "<li><a href=\"#\" onclick=\"getBanner('" + tweettype + "','" + tweetxtra + "','" + timeout + "','" + item.ScreenName + "')\">" +
               "<img src=\"http://abs.twimg.com/sticky/default_profile_images/default_profile_3_normal.png\">" +
        "<div class=\"tweets1\">" + item.Tweet + "</div><p class=\"ui-li-aside\"><strong>" + item.TimeStamp + "</strong>PM</p></a></li>";
                   });

                   clearTimeout(timerA);
                   timerA = setTimeout(checkNewTweets, 600000);
                   var NewDate = new Date();
                   var timenow = NewDate.getUTCHours() + ":" + NewDate.getUTCMinutes() + ":" + NewDate.getUTCSeconds();

                   if (jsonresp.doBanner == "true") {
                       bannerWait(jsonresp.timetillbanner, jsonresp.BannerID, jsonresp.topname);

                   }

                   $('#toptweet').html(jsonresp.latestid);
                   var ua = navigator.userAgent;
                   $('#toptweettime').html(timenow + ua);
                   $('#mytweets').html(tophtml + midhtml_mt + "</ul>").trigger('create');
                   $('#mentions').html(tophtml + midhtml_men + "</ul>").trigger('create');
                   $('#following').html(tophtml + midhtml_f + "</ul>").trigger('create');
               },
               error: function (response) {
                   alert(response.responseText);
                   var r = jQuery.parseJSON(response.responseText);
                   alert("Message: " + r.Message);
                   alert("StackTrace: " + r.StackTrace);
                   alert("ExceptionType: " + r.ExceptionType);
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
               }

           });
       }

       function timetest(ID) {
            //alert("hihi" + ID);
            //clearTimeout(timer1);
       }

       function bannerWait(timetillbanner,ID,screenname) {
           
          // alert(timetillbanner);
           //timer1 = setTimeout(timerStart1(ID), 5000);
           setTimeout(function () {
               getBanner("banner", ID, "5000", screenname);
           }, timetillbanner)
           //timer1 = setTimeout(timetest(ID),5000);
       }

       function SubmitTwID() {
           var twitterID = document.getElementById("twid").value;
           $.ajax({
               type: "POST",
               url: "/Home/SaveTwID",
               data: "id=" + twitterID,
               dataType: "text/plain",
               success: function (json) {

               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
                   //
               }

           });


       }

       function checkNewTweets() {
           clearTimeout(timerA);
           var latestID = document.getElementById('toptweet').innerHTML;
           //    alert("latest from page= " + latestID);

           $.ajax({
               type: "GET",
               url: "/Mobile/CheckJsonTweets",
               //data: "latestID=" + latestID,
               dataType: "json",
               success: function (json) {
                   var jsonresp = eval(json);
                   //type = refresh
                   var latesttweetID = jsonresp.LatestID;
                   //alert("session=" + latestID + "api= " + latesttweetID);
                   if (parseInt(latesttweetID) > parseInt(latestID)) {
                       getTweets();
                   } else {
                       var NewDate = new Date();
                       var timenow = NewDate.getUTCHours() + ":" + NewDate.getUTCMinutes() + ":" + NewDate.getUTCSeconds();
                       $('#toptweettime').html(timenow);
                       timerA = setTimeout(checkNewTweets, 600000);
                   }


               },
               error: function (xhr, error) {
                   // console.debug(xhr); console.debug(error);
               },
               complete: function (xhr, status) {
               }

           });
       }


       function formatDateNext(num) {
           var NewDate = new Date();
           NewDate.setDate(NewDate.getDate() + num);
           var day;
           var month;
           var date = NewDate.getUTCDate();
           var daynum = NewDate.getUTCDay();
           //alert(NewDate + " d: " + date + " n: " + daynum);
           if (parseInt(daynum) == 1) {
               day = "Monday";
           } else if (parseInt(daynum) == 2) {
               day = "Tuesday";
           } else if (parseInt(daynum) == 3) {
               day = "Wednesday";
           } else if (parseInt(daynum) == 4) {
               day = "Thursday";
           } else if (parseInt(daynum) == 5) {
               day = "Friday";
           } else if (parseInt(daynum) == 6) {
               day = "Saturday";
           } else if (parseInt(daynum) == 0) {
               day = "Sunday";
           }

           var date_str = day + " " + date;


           return date_str;
       }

       function getProperDay(day) {
           if (day == "Mon") {
               dayout = "Monday";
           } else if (day == "Tue") {
               dayout = "Tuesday";
           } else if (day == "Wed") {
               dayout = "Wednesday";
           } else if (day == "Thu") {
               dayout = "Thursday";
           } else if (day == "Fri") {
               dayout = "Friday";
           } else if (day == "Sat") {
               dayout = "Saturday";
           } else if (day == "Sun") {
               dayout = "Sunday";
           } else {
               dayout = day;
           }

           return dayout;
       }


       function formatDateFull(num) {
           var NewDate = new Date();
           NewDate.setDate(NewDate.getDate() + num);
           var day;
           var month;
           var date = NewDate.getUTCDate();
           var daynum = NewDate.getUTCDay();
           var monthnum = NewDate.getUTCMonth();
           if (parseInt(monthnum) == 1) {
               month = "February";
           } else if (parseInt(monthnum) == 2) {
               month = "March";
           } else if (parseInt(monthnum) == 3) {
               month = "April";
           } else if (parseInt(monthnum) == 4) {
               month = "May";
           } else if (parseInt(monthnum) == 5) {
               month = "June";
           } else if (parseInt(monthnum) == 6) {
               month = "July";
           } else if (parseInt(monthnum) == 7) {
               month = "August";
           } else if (parseInt(monthnum) == 8) {
               month = "September";
           } else if (parseInt(monthnum) == 9) {
               month = "October";
           } else if (parseInt(monthnum) == 10) {
               month = "November";
           } else if (parseInt(monthnum) == 11) {
               month = "December";
           } else if (parseInt(monthnum) == 0) {
               month = "January";
           }
           //alert(NewDate + " d: " + date + " n: " + daynum);
           if (parseInt(daynum) == 1) {
               day = "Monday";
           } else if (parseInt(daynum) == 2) {
               day = "Tuesday";
           } else if (parseInt(daynum) == 3) {
               day = "Wednesday";
           } else if (parseInt(daynum) == 4) {
               day = "Thursday";
           } else if (parseInt(daynum) == 5) {
               day = "Friday";
           } else if (parseInt(daynum) == 6) {
               day = "Saturday";
           } else if (parseInt(daynum) == 0) {
               day = "Sunday";
           }

           var date_str = day + " " + date + " " + month;


           return date_str;
       }


        
       function sliderChange(val,id) {
           var flipT = document.getElementById('flip-twitter').value;
           var flipW = document.getElementById('flip-weather').value;
           var flipN = document.getElementById('flip-news').value;
           var flipC = document.getElementById('flip-calendar').value;
           // alert(val + id);
           if (flipT == "yes" && flipC == "no") {
               renderTweets(12, "mytweets");
               renderTweets(12, "following");
               renderTweets(12, "mentions");
               $('#calblock').hide();
           }
           if (flipC == "yes") {
               renderTweets(5, "mytweets");
               renderTweets(5, "following");
               renderTweets(5, "mentions");
               $('#calblock').show();
           }

           if (id == "flip-twitter") {
               if (val == "no") {
                   $('#tweets').hide()
               }
               if (val == "yes") {
                   $('#tweets').show()
                   $("#mentions").trigger('collapse');
               }

           }
       }

       function iterateAlphabet()
	{
	   var str = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	   for(var i=0; i<str.length; i++)
	   {
	      var nextChar = str.charAt(i);
	      alert(nextChar)
	   }
}
function formatDate(num) {
    var NewDate = new Date();
    NewDate.setDate(NewDate.getDate() + num);
    var day;
    var month;
    var date = NewDate.getUTCDate();
    var month = NewDate.getUTCMonth();
    return date;
}

function formatDateDayNum(num) {
    var NewDate = new Date();
    NewDate.setDate(NewDate.getDate() + num);
    var day;
    var month;
    var date = NewDate.getUTCDate();
    var daynum = NewDate.getUTCDay();
  //  alert(date);
    return daynum;
}

	function formatDateDay(num) {
	    var NewDate = new Date();
	    NewDate.setDate(NewDate.getDate() + num);
	    var day;
	    var month;
	    var date = NewDate.getUTCDate();
	    var daynum = NewDate.getUTCDay();
	    //alert(NewDate + " d: " + date + " n: " + daynum);
	    if (parseInt(daynum) == 1) {
	        day = "a";
	    } else if (parseInt(daynum) == 2) {
	        day = "b";
	    } else if (parseInt(daynum) == 3) {
	        day = "c";
	    } else if (parseInt(daynum) == 4) {
	        day = "d";
	    } else if (parseInt(daynum) == 5) {
	        day = "e";
	    } else if (parseInt(daynum) == 6) {
	        day = "f";
	    } else if (parseInt(daynum) == 0) {
	        day = "g";
	    }

	    if (parseInt(date) < 10) {
	        date = "0" + date;
	    }

	    var date_str = day;

	    return date_str;
	}

	function daysBackToMon() {
	    var NewDate = new Date();
	    i = 7;
	    daysback = 0;
	    while (i >= 0) {
	        i--;
	        NewDate.setDate(NewDate.getDate() - i);
	        var daynum = NewDate.getUTCDay();
	        alert("daynum=" + daynum + " i=" + i);
	        if (parseInt(daynum) == 1) {
	            daysback = i;
	        }
	        daysback++;
	    }

	    return daysback;

	}

    function renderTweets(num,type) {
         var tophtml = "<ul data-role=\"listview\" data-split-icon=\"gear\" data-split-theme=\"a\">";
        //var tophtml = "<ul data-role=\"listview\" data-theme=\"a\" data-divider-theme=\"a\" data-count-theme=\"b\">"
        var midhtml = "";
        while (num > 0) {
            midhtml = midhtml + "<li><a href=\"index.html\">" +
                "<img src=\"http://abs.twimg.com/sticky/default_profile_images/default_profile_3_normal.png\">" +
          "<div class=\"tweets1\">Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</div>" +
             "<p class=\"ui-li-aside\"><strong>6:24</strong>PM</p>" +
                "</a><a href=\"lists-split-purchase.html\" data-rel=\"dialog\" data-transition=\"slideup\">Purchase album</a></li>";
            //midhtml = midhtml + "<li><table><tr><td>2m</td><td>" +
            //"<div class=\"tweets1\">Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</div>" +
            //"</td></tr></table></li>";
            num--;
        }

        $('#' + type).html(tophtml + midhtml + "</ul>").trigger('create');
    }

	function drawNext5(start) {
	    var end = 5
	    while (end > -1) {	        
	        $('#next' + end).html(formatDateNext(end));
            end--;
	    }
	}

       function drawCal() {
           var calhtmltop = "<div class=\"ui-grid-f\">";
           var aplhastr = "abcdefg";
           var calhtmlmid = "";
           //var startDate = daysBackToMon();
           var end = parseInt(0);
           var today = formatDateDay(0);
           var startrow = 1;
           var dayID = 1;
           var daynow = 0;
          // alert(startDate);
           while (end < 5) {
               end++;
           for(var i=0; i<aplhastr.length; i++)
	   {
	       var nextChar = aplhastr.charAt(i);
	       calhtmlmid = calhtmlmid + "<div class=\"ui-block-" + nextChar + "\"><div class=\"ui-body ui-body-d\" id=\"Cal" + dayID + "\">ID " + dayID + "</div></div>";
	       dayID++;
	   }

	   $('#caldata').html(calhtmltop + calhtmlmid + "</div>");

}
backFillCal(startrow);
}

function backFillCal(startrow) {
            var rowfactor = parseInt(startrow * 7);
            var todaynum = formatDateDayNum(0);
            var todayID = parseInt(rowfactor + todaynum);
            var end = (0 - todayID);      
            var start = 0;
            while (start < 36) {
                var html = "<div style=\"cursor:pointer\" onclick=\"testa(" + parseInt(end + 1) + "," + end + ")\">" + formatDate(end) + "</div>";
                var html_today = "<div style=\"cursor:pointer\" onclick=\"testa(" + parseInt(end + 1) + "," + end + ")\"><strong>" + formatDate(end) + "</strong></div>";
                $('#Cal' + start).html(html);
                if (end == 0) {
                    $('#Cal' + start).html(html_today);
                }
                start++;
                end++;
            }
        }

        function formatDateDayID(num) {
            var NewDate = new Date();
            NewDate.setDate(NewDate.getDate() + num);
            var day;
            var month;
            var date = NewDate.getUTCDate();
            var daynum = NewDate.getUTCDay();
            //alert(NewDate + " d: " + date + " n: " + daynum);
            if (parseInt(daynum) == 1) {
                day = "Monday";
            } else if (parseInt(daynum) == 2) {
                day = "Tuesday";
            } else if (parseInt(daynum) == 3) {
                day = "Wednesday";
            } else if (parseInt(daynum) == 4) {
                day = "Thursday";
            } else if (parseInt(daynum) == 5) {
                day = "Friday";
            } else if (parseInt(daynum) == 6) {
                day = "Saturday";
            } else if (parseInt(daynum) == 0) {
                day = "Sunday";
            }

            if (parseInt(date) < 10) {
                date = "0" + date;
            }

            var date_str = day + date;

            return date_str;
        }


        function parseISO8601DateFull(s) {

            var re = /(\d{4})-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)(\.\d+)?(Z|([+-])(\d\d):(\d\d))/;

            var d = [];
            try {
                d = s.match(re);
                if (!d) {
                    throw "Couldn't parse ISO 8601 date string '" + s + "'";
                }
                //alert(d);
                // parse strings, leading zeros into proper ints
                var a = [1, 2, 3, 4, 5, 6, 10, 11];
                for (var i in a) {
                    d[a[i]] = parseInt(d[a[i]], 10);
                    //alert(d[a[i]]);
                }
                d[7] = parseFloat(d[7]);
                var hr = parseInt(d[4], 10);
                var min = parseInt(d[5], 10);
                if (hr < 10) {
                    hr = "0" + hr;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                // Date.UTC(year, month[, date[, hrs[, min[, sec[, ms]]]]])
                // note that month is 0-11, not 1-12
                // see https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Date/UTC
                var ms = Date.UTC(d[1], d[2] - 1, d[3], d[4], d[5], d[6]);
                //alert(ms + d[2]);
                // if there are milliseconds, add them
                if (d[7] > 0) {
                    ms += Math.round(d[7] * 1000);
                }

                // if there's a timezone, calculate it
                if (d[8] != "Z" && d[10]) {
                    var offset = d[10] * 60 * 60 * 1000;
                    if (d[11]) {
                        offset += d[11] * 60 * 1000;
                    }
                    if (d[9] == "-") {
                        ms -= offset;
                    }
                    else {
                        ms += offset;
                    }
                }
                //alert(ms);

                return new Date(ms);
            } catch (error) {
                return ("All day");
            }
            //return new Date(ms);
        };

        function get_cookie(name) {
            var results = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            if (results)
                return (unescape(results[2]));
            else
                return null;
        }

        function set_cookie(name, value, days) {
            //value = "data here";
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
            document.cookie = name + '=' + value + expires + '; path=/'

        }


        function parseISO8601Date(s) {

            // parenthese matches:
            // year month day    hours minutes seconds  
            // dotmilliseconds 
            // tzstring plusminus hours minutes
            var re = /(\d{4})-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)(\.\d+)?(Z|([+-])(\d\d):(\d\d))/;

            var d = [];
            try {
                d = s.match(re);

                // "2010-12-07T11:00:00.000-09:00" parses to:
                //  ["2010-12-07T11:00:00.000-09:00", "2010", "12", "07", "11",
                //     "00", "00", ".000", "-09:00", "-", "09", "00"]
                // "2010-12-07T11:00:00.000Z" parses to:
                //  ["2010-12-07T11:00:00.000Z",      "2010", "12", "07", "11", 
                //     "00", "00", ".000", "Z", undefined, undefined, undefined]

                if (!d) {
                    throw "Couldn't parse ISO 8601 date string '" + s + "'";
                }
                //alert(d);
                // parse strings, leading zeros into proper ints
                var a = [1, 2, 3, 4, 5, 6, 10, 11];
                for (var i in a) {
                    d[a[i]] = parseInt(d[a[i]], 10);
                    //alert(d[a[i]]);
                }
                d[7] = parseFloat(d[7]);
                var hr = parseInt(d[4], 10);
                var min = parseInt(d[5], 10);
                if (hr < 10) {
                    hr = "0" + hr;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                // Date.UTC(year, month[, date[, hrs[, min[, sec[, ms]]]]])
                // note that month is 0-11, not 1-12
                // see https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Date/UTC
                var ms = Date.UTC(d[1], d[2] - 1, d[3], d[4], d[5], d[6]);
                //alert(ms + d[2]);
                // if there are milliseconds, add them
                if (d[7] > 0) {
                    ms += Math.round(d[7] * 1000);
                }

                // if there's a timezone, calculate it
                if (d[8] != "Z" && d[10]) {
                    var offset = d[10] * 60 * 60 * 1000;
                    if (d[11]) {
                        offset += d[11] * 60 * 1000;
                    }
                    if (d[9] == "-") {
                        ms -= offset;
                    }
                    else {
                        ms += offset;
                    }
                }
                //alert(ms);
                var outp = hr + ":" + min;
                return outp;
            } catch (error) {
                return ("All day");
            }
            //return new Date(ms);
        };


     </script>
    
</head>
 
<body>
<div data-role="page">
<div data-role="panel" id="mypanel" data-swipe-close="false">
    <!-- panel content goes here -->
    <div class="displayslider">
      <select data-mini="true" name="slider" id="flip-twitter" data-role="slider"  data-theme="e" onchange="sliderChange(this.value,this.id)" >
	<option value="no">Twitter</option>
	<option value="yes" selected="selected">Twitter</option>
</select>
</div>
<div class="displayslider">
   <select data-mini="true" name="slider" id="flip-calendar" data-role="slider"  data-theme="e" onchange="sliderChange(this.value,this.id)" >
	<option value="no">Calendar</option>
	<option value="yes" selected="selected">Calendar</option>
</select>
</div>
<div class="displayslider">
    <select data-mini="true" name="slider" id="flip-news" data-role="slider"  data-theme="e" onchange="sliderChange(this.value,this.id)" >
	<option value="no">News</option>
	<option value="yes" selected="selected">News</option>
</select>
</div>
<div class="displayslider">
   <select data-mini="true" name="slider" id="flip-weather" data-role="slider"  data-theme="e" onchange="sliderChange(this.value,this.id)" >
	<option value="no">Weather</option>
	<option value="yes">Weather</option>
</select>
</div>
<a href="#header" data-rel="close" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a>
</div><!-- /panel -->
    <div data-role="header" data-position="fixed">
        <asp:ContentPlaceHolder ID="PageTitleContent" runat="server" />
    </div>
    <div data-role="content">
         <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </div>
    
   </div>
   
</body>
</html>